@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classe para esconder a barra de rolagem */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
