@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classe para esconder a barra de rolagem */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* --- Configuração de Impressão (PDF PROFISSIONAL) --- */
@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }

  /* ... (regras de esconder aside, input, etc) ... */
  aside,
  button,
  nav,
  input,
  select,
  label,
  .print\:hidden {
    display: none !important;
  }

  /* ESTILOS DA TABELA - APENAS PARA IMPRESSÃO */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
    font-size: 9pt !important;
    font-family: sans-serif !important;
  }

  /* Cabeçalho PRETO apenas na impressora */
  thead th {
    background-color: #111827 !important; /* Preto */
    color: white !important; /* Texto Branco */
    border: 1px solid #000 !important;
    padding: 6px !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  td {
    border-bottom: 1px solid #ccc !important;
    padding: 4px !important;
    color: black !important;
  }

  /* Zebrado apenas na impressora */
  tr:nth-child(even) td {
    background-color: #f3f4f6 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
